@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #CFC4B1;
  --secondary-color: #935727;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #ffffff;
  --max-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    /* background: linear-gradient(
      to right,
      #2c1a0a,
      rgba(255, 255, 255, 0)
    ),
    url("./img/fondo1.jpg"); */
    background: linear-gradient(
      to right,
      #2c1a0a,
      rgba(255, 255, 255, 0)
    ),
    url("./img/fondo1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.container {
  max-width: var(--max-width);
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav__logo img {
  max-width: 150px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a:hover{
    background-color: var(--secondary-color);
}

.link a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  padding:0.8rem;
  border-radius: 1rem;
}

.search {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 2rem;
  transition: 0.3s;
}

.search input {
  width: 100%;
  font-size: 1rem;
  color: var(--secondary-color);
  outline: none;
  border: none;
}

.search input::placeholder {
  color: var(--primary-color);
}

.search span {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.login {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 150px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background-color: var(--secondary-color);
}

.login span {
  padding: 5px 8px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 100%;
}

.destination__container {
  position: relative;
  padding: 2rem 0 5rem 6rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: center;
}

.socials {
  position: absolute;
  top: 18rem;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.socials::after {
  position: absolute;
  content: "";
  top: -19rem;
  left: 15px;
  height: 15rem;
  width: 2px;
  background-color: var(--white);
}

.socials span {
  font-size: 2rem;
  color: var(--white);
}

.content h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
  color: var(--primary-color);
}

.content p {
  max-width: 600px;
  margin-bottom: 4rem;
  line-height: 1.5rem;
  color: var(--white);
}

.content .btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 1rem;

}
